<mj-section padding="{{ padding | default('0 0 20px') }}">
  <mj-column>
    {% block topline_outer %}
      <mj-text
        color="{{ style.color['grey-dark'] }}"
        font-size="16px"
        padding-bottom="20px"
        align="center"
      >You decided to bust the isolation blues by fixing something—that's great! Inspire others to do so, too, and join our <a href="https://www.ifixit.com/News/36647/join-the-fixathome-challenge">#FixAtHome</a> challenge on <a href="https://twitter.com/iFixit">Twitter</a> and <a href="https://www.instagram.com/ifixit">Instagram</a>.
      </mj-text>
    {% endblock %}

    {% block headline_outer %}
      <mj-text
        font-size="30px"
        line-height="1.7"
        padding-bottom="20px"
        align="center"
      >
        {% block headline %}
          {{ headline | default('Headline') }}
        {% endblock %}
      </mj-text>
    {% endblock %}

    {% block text_outer %}
      <mj-text
        font-size="16px"
        line-height="1.7"
        color="{{ style.color['grey-dark'] }}"
        align="center"
      >
        {% block text %}{{ text | default('Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia optio delectus asperiores architecto cupiditate perferendis aperiam magni veritatis, nulla corrupti?') }}{% endblock %}
      </mj-text>
    {% endblock %}
  </mj-column>
</mj-section>